.social(class=socialClass)
  if instagram
    a.social__item(href=instagramLink, target="_blank")
      svg.icon.icon-font
        use(xlink:href="assets/icons/icons.svg#icon-instagram")
  if facebook
    a.social__item(href=facebookLink, target="_blank")
      svg.icon.icon-font
        use(xlink:href="assets/icons/icons.svg#icon-facebook")
  if twitter
    a.social__item(href=twitterLink, target="_blank")
      svg.icon.icon-font
        use(xlink:href="assets/icons/icons.svg#icon-twitter")
  if youtube
    a.social__item(href=youtubeLink, target="_blank")
      svg.icon.icon-font
        use(xlink:href="assets/icons/icons.svg#icon-youtube")
  if linkedin
    a.social__item(href=linkedinLink, target="_blank")
      svg.icon.icon-font
        use(xlink:href="assets/icons/icons.svg#icon-linkedin")